<form action="/login" method="POST" id="login-form">
	<label for="username">Username</label>
	<input type="text" id="username" name="username" class="fullWidthInput" />
	<br>
	<br>
	<label for="username">Password</label>
	<input type="text" id="password" name="password" class="fullWidthInput" />
	<button type="submit">Check</button>
</form>
<p id="error">
	Error: {{error}}
</p>