<p>
	Using HTML, CSS, and Handlebars, this simple templated web application allows you to search
	through the people.json dataset!
	Try searching for someone using their first or last name.
</p>
<form action="/search" method="POST" class="searchForm">
	<label for="search">Search</label>
	<input type="text" id="search" name="personName" placeholder="Search people.json" class="fullWidthInput" />
	<button type="submit">Search</button>
</form>