<form action="javascript:void(0);" class="primeChecker">
	<label for="isPrime">Is Prime?</label>
	<input type="number" id="isPrime" name="isPrime" placeholder="That's the way the cookie crumbles"
		class="fullWidthInput" />
	<button type="submit">Check</button>
</form>
<p id="error">

</p>
<ol id="attempts">

</ol>